 
<header>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active conFondo">
        <div class="carousel-caption">
          <h5>The first line of Lorem Ipsum</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
    </div>
  </div>
</header>
  
<section class="py-5">
  <div class="container">
    <h1 class="fw-light">Neque porro quisquam est qui dolorem ipsum</h1>
    <p class="lead">Ut vulputate justo eget eros tempus, sit amet pellentesque purus congue. Nunc dictum suscipit nibh id vestibulum. Sed et massa tristique, convallis velit.</p>
  </div>
</section>