<div class="contenedor">

  <div class="page-content page-container mt-4" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
          <div class="col-md-6">
            <div class="card card-bordered">

              <div class="card-header">
                <h4 class="card-title"><strong>Chat</strong></h4>
                <a class="btn btn-xs btn-secondary" href="#" data-abc="true">x</a>
              </div>
  
              <div class="ps-container ps-theme-default ps-active-y" id="contenedorMensajes" style="overflow-y: scroll !important; height:400px !important;">
                <div class="h-100">
                  <div *ngFor="let item of mensaje; let i = index" class="p-2" 
                  [ngClass]="(usuarioLogueado==mensaje[i]['usuario'])? 'enviado' : 'recibido' "
                  >
                    <div class="textoNickname">{{item.nickname}}:</div>
                    {{item.texto}}
                    <div class="textoFecha">
                      <!-- {{ item.fecha }} -->
                      {{ item.fecha | date:'dd/MM/yy, h:mm a' }}
                    </div>
                  </div>
                </div>
  
              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div></div>
  
              <div class="publisher bt-1 border-light">
                <!-- <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="..."> -->
                <input class="publisher-input" type="text" placeholder="Mensaje" [(ngModel)]="nuevoMensaje">
                <!-- <span class="publisher-btn file-group">
                  <i class="fa fa-paperclip file-browser"></i>
                  <input type="file">
                </span> -->
                <!-- <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a> -->
                <a class="publisher-btn text-info" data-abc="true" (click)="enviarMensaje()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-telegram" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="#fbceb5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
                    </svg>
                </a>
              </div>
  
             </div>
          </div>
        </div>
      </div>
  </div>

</div>