.contenedor{
    background-image: url('src\assets\img\bg.jpg');
    background-size: cover;
    padding-bottom: 119px;
}

.ftco-section {
    padding: 7em 0;
}

.heading-section {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
}

.login-wrap {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-control {
    background: transparent;
    border: none;
    height: 50px;
    color: rgba(255, 255, 255, 0.08);
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

input {
    overflow: visible;

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn {
    cursor: pointer;
    border-radius: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    text-transform: uppercase;

    background: #fbceb5 !important;
    border: 1px solid #fbceb5 !important;
    color: #000 !important;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
}