<div class="contenedor">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Registro</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">¿No tienes una cuenta?</h3>

                        <form action="#" class="signin-form">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Correo electrónico" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="Contraseña" required>
                                <span toggle="#password-field"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn submit px-3">Registrar</button>
                            </div>
                        
                        </form>

                        <p class="w-100 text-center">&mdash; O ingresa con &mdash;</p>

                        <div class="text-center">
                            <button href="#" class="px-2 py-2 mr-md-1 btn text-center" (click)="registrarConGoogle()">
                                <!-- <img src="src\assets\img\google.png"> -->
                                Google
                            </button>
                        </div>

                        <ng-template>

                            <h3 class="mb-4 text-center">Ingresa tus datos</h3>

                            <form action="#" class="signin-form">

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Apellido" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nickname" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn submit px-3">Registrar</button>
                                </div>
                            
                            </form>

                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
